<div class="container">
    <h3>Add an answer!</h3>
    <a routerLink="bingo-card">Back To Board</a>
</div>

<div class="container">
    <form (ngSubmit)="answerForm(newAnswerForm)" #newAnswerForm="ngForm">
        <div class="form-group">
            <label for="ans-block">Answer</label>
            <input name="answerBlock" class="form-control" [(ngModel)]="answer.block" type="text" id="block" block="ans-block" #block="ngModel" required>
        </div>
        <div>
            <button class="btn btn-success"> Submit </button>
        </div>
    </form>
</div>
