
<div class="container">
    <h1 class="">THE BINGO GAME!! </h1>
    <a class="nav-link" routerLink="/game/add-an-answer">Add an answer</a>
</div>

<div class="container">
    <table id="bingo-card" class="table">
        <thead>
            <th>
                B
            </th>
            <th>
                I
            </th>
            <th>
                N
            </th>
            <th>
                G
            </th>
            <th>
                O
            </th>
        </thead>
        <tbody >
            <!-- uncomment to try and get bingoCard with answers -->
            <tr class="bg-white" *ngFor="let row of table; let x = index">
                <td *ngFor="let column of row; let y = index" (click)="sqaureClicked()">
                    <ng-container
                        *ngIf="x === 2 && y === 2; then free; else number">
                    </ng-container>
                    <ng-template #number>
                        {{ column }}
                    </ng-template>
                    <ng-template #free>
                        free Space!
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button (click)="bingoWon()" class=""> BINGO </button>
    
</div>
