
table{
    width: 100%
}

td {
    word-break: break-all;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid;
    cursor: pointer;
}
td:hover {
    background-color: lightcoral;
    }


