
<div class="container">
    <h1 class="">THE BINGO GAME!! </h1>
    <a class="nav-link" routerLink="/game/add-an-answer">Add an answer</a>
</div>

<div class="container">
    <table id="bingo-card" class="table">
        <thead>
            <th>
                B
            </th>
            <th>
                I
            </th>
            <th>
                N
            </th>
            <th>
                G
            </th>
            <th>
                O
            </th>
        </thead>
        <tbody >
            <!-- <tr *ngFor="let r of [0,1,2,3,4]" [id]="r">
                <td *ngFor="let c of [r + 'c0', r + 'c1', r + 'c2', r + 'c3', r + 'c4']">  </td>
            </tr> -->
            <tr ></tr>
                <td>  </td>
        </tbody>
    </table>
</div>

<div>
    <button> BINGO </button>
    
</div>
